
<div class="container mt-5">
            <div class="d-flex flex-column">
                <div>
                    <h1 id="iheader">FACTURA</h1>
                </div>
                <div>
                    <p id="cominfo">
                        <b>Ramirez Auto Part</b>
                        <span>
                            <br>
                            <b>Ave San Vicente de Paul #115, Los Mina</b>
                        <span>
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="p-2">
                    <label id="cus"><b>CLIENTE</b></label>
                    <input class="form-control" type="text">  
                </div>
                <div class="p-2">
                    <label id="addr"><b>DIRECCION</b></label>
                    <input class="form-control" type="text">  
                </div>
                <div class="p-3">
                    <label id="inum"># DE FACTURA: XXXXX</label>
                    <br>
                    <label id="idate"></label>      
                </div>
           </div>
        </div>
        <div class="container">

            <table class="table">
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Monto</th>
                    </tr>
               </thead>
               <tbody></tbody>
            </table>
        </div>