
<div class="container mt-5">
    <form action="/" method="POST">
        <input class="form-control" id="id" name="id" value="<%= id %>" hidden="true">
        <p></p>
        <input class="form-control" id="name" name="name" hidden="true">
        <p></p>
        <input class="form-control" id="address" name="address" hidden="true">
        <p></p>
        <p></p>
        <input class="form-control" id="invnum" name="invnum" value="<%= num %>" hidden="true">
        <p></p>
        <input class="form-control" id="total" name="total" hidden="true">
        <p></p>
        <input class="form-control" id="quantity" name="quantity" hidden="true">
        <p></p>
        <input class="form-control" id="item" name="item" hidden="true">
        <p></p>
        <input class="form-control" id="price" name="price" hidden="true">
        <p></p>
        <input class="form-control" id="amount" name="amount" hidden="true">
        <p></p>
        <button class="btn btn-success" id="purchase">
            Facturar
        </button>
    </form>
</div>